In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

In [3]:
pd.set_option('display.max_columns',0)
pd.set_option('display.max_colwidth',0)

In [4]:
match_data = pd.read_csv('./match_data.csv')
batsman_data = pd.read_csv('./batsman_data.csv')
bowler_data = pd.read_csv('./bowler_data.csv')
df_train = pd.read_csv('./df_train.csv')
df_test = pd.read_csv('./df_test.csv')

In [5]:
df_train['winner_01'] = df_train.apply(lambda x: 0 if (x['team1']==x['winner']) else 1, axis=1)

In [7]:
from sklearn.model_selection import train_test_split
# import xgboost as xgb

In [8]:
match_data.head()

   match id  team1  team2  ...     series_type winner_id  player_of_the_match_id
0  8638034   Nn Ds  Wn     ...  other_domestic  18570    NaN
1  8588005   Me Rs  Sy Tr  ...  other_domestic  33963     1749075.0
2  8587837   Sy Ss  Be Ht  ...  other_domestic  33921     3890984.0
3  8638041   Nn Ds  Oo     ...  other_domestic  18360    NaN
4  8587921   Ht Hs  Me Ss  ...  other_domestic  33928     3125849.0

[5 rows x 30 columns]

In [7]:
from sklearn.model_selection import train_test_split
# import xgboost as xgb

In [112]:
label = df_train['winner_01']

In [113]:
label

0      1
1      0
2      0
3      0
4      1
      ..
943    0
944    1
945    1
946    1
947    1
Name: winner_01, Length: 948, dtype: int64

In [114]:
df_train.head()

   match id     team1  ...  ground_avg_runs_last15 winner_01
0  9331181   Ba        ...  157.178571              1
1  8797060   Ed        ...  103.500000              0
2  9433269   We        ...  154.333333              0
3  9587073   Ga An Ws  ...  144.250000              0
4  9516457   Pb Ks     ...  189.000000              1

[5 rows x 24 columns]

In [115]:
batsman_data.head()

   match id batsman  batsman_id  ... Fours  Sixes    match_dt
0  8638034   KD Ce   7907451.0   ...  1.0  NaN     2021-01-01
1  8638034   TL St   4381761.0   ...  4.0   1.0    2021-01-01
2  8638034   HR Cr   4949790.0   ... NaN   NaN     2021-01-01
3  8638034   BR Hn   3834305.0   ...  3.0  NaN     2021-01-01
4  8638034   SC Kn   3776849.0   ... NaN    1.0    2021-01-01

[5 rows x 21 columns]

In [116]:
avg_runs_per_inning = batsman_data.groupby('batsman_id')['runs'].mean().reset_index()
avg_runs_per_inning.rename(columns={'runs': 'avg_runs_per_inning'}, inplace=True)

In [117]:
avg_runs_per_inning

      batsman_id  avg_runs_per_inning
0     31464.0     3.333333
1     34061.0     11.805556
2     36665.0     20.800000
3     37351.0     20.722222
4     41740.0     22.310345
...       ...           ...
1630  9663968.0   17.666667
1631  9822070.0   7.000000
1632  9822077.0   0.000000
1633  9822140.0   7.000000
1634  9822147.0   28.000000

[1635 rows x 2 columns]

In [118]:
batsman_stats = batsman_data.groupby('batsman_id').agg({'runs': 'sum', 'balls_faced': 'sum'}).reset_index()

# Calculate runs per ball faced
batsman_stats['runs_per_ball_faced'] = batsman_stats['runs'] / batsman_stats['balls_faced']

In [119]:
batsman_stats

      batsman_id  runs  balls_faced  runs_per_ball_faced
0     31464.0     10    18           0.555556
1     34061.0     425   297          1.430976
2     36665.0     208   171          1.216374
3     37351.0     746   598          1.247492
4     41740.0     647   496          1.304435
...       ...     ...   ...               ...
1630  9663968.0   53    41           1.292683
1631  9822070.0   7     21           0.333333
1632  9822077.0   0     2            0.000000
1633  9822140.0   7     21           0.333333
1634  9822147.0   28    16           1.750000

[1635 rows x 4 columns]

In [120]:
batsman1 = batsman_stats.merge( avg_runs_per_inning,on = 'batsman_id')

In [121]:
batsman1

      batsman_id  runs  balls_faced  runs_per_ball_faced  avg_runs_per_inning
0     31464.0     10    18           0.555556             3.333333
1     34061.0     425   297          1.430976             11.805556
2     36665.0     208   171          1.216374             20.800000
3     37351.0     746   598          1.247492             20.722222
4     41740.0     647   496          1.304435             22.310345
...       ...     ...   ...               ...                   ...
1630  9663968.0   53    41           1.292683             17.666667
1631  9822070.0   7     21           0.333333             7.000000
1632  9822077.0   0     2            0.000000             0.000000
1633  9822140.0   7     21           0.333333             7.000000
1634  9822147.0   28    16           1.750000             28.000000

[1635 rows x 5 columns]

In [122]:
# def categorize_runs_per_ball(runs_per_ball):
#     if runs_per_ball < 1:
#         return 0
#     elif runs_per_ball < 1.2:
#         return 2
#     elif runs_per_ball < 1.4:
#         return 3
#     else:
#         return 5
    
# def categorize_avg_runs(avg_runs):
#     if avg_runs < 10:
#         return 0
#     elif avg_runs < 20:
#         return 2
#     elif avg_runs < 30:
#         return 3
#     else:
#         return 5

# # Apply the function to create the 'rating' column
# #batsman_data['rating'] = batsman_data['avg_runs_per_inning'].apply(categorize_avg_runs)

# # Apply the function to create a new column
# #batsman_stats['rating'] = batsman_stats['runs_per_ball_faced'].apply(categorize_runs_per_ball)
# batsman1['rating2'] = batsman1['avg_runs_per_inning'].apply(categorize_avg_runs)

# Display the result
batsman1['total'] = batsman1['avg_runs_per_inning']* batsman1['runs_per_ball_faced']

In [124]:
#batsman1

In [125]:
batsman_rating = {}

In [126]:
for index, row in batsman1.iterrows():
    rating = row['total']
    batsman_id = row['batsman_id']
    batsman_rating[batsman_id] = rating

In [128]:
#batsman_rating

In [130]:
bowler_data.head()

   match id    bowler  bowler_id  ... wides  noballs    match_dt
0  8638034   BV Ss     6718396.0  ...  3     1        2021-01-01
1  8638034   HK Bt     1585464.0  ...  2     0        2021-01-01
2  8638034   JS Nm     2486896.0  ...  0     0        2021-01-01
3  8638034   LV vn Bk  3083667.0  ...  2     0        2021-01-01
4  8638034   PF Yd     4950294.0  ...  1     0        2021-01-01

[5 rows x 18 columns]

In [128]:
#batsman_rating

In [128]:
#batsman_rating

In [128]:
#batsman_rating

In [129]:
#df_train['team1'].unique()

In [12]:
from sklearn.preprocessing import LabelEncoder

In [14]:
from sklearn import preprocessing

In [16]:
le = preprocessing.LabelEncoder()
df_train['team1'] = le.fit_transform(df_train.team1.values)

In [18]:
df_train['team2'] = le.fit_transform(df_train.team2.values)

In [20]:
df_test['team2'] = le.fit_transform(df_test.team2.values)
df_test['team1'] = le.fit_transform(df_test.team1.values)

In [35]:
df_train['toss_winner'] = df_train['toss winner']

In [36]:
df_train.head()

   match id  team1  team1_id  ... ground_avg_runs_last15  winner_01  toss_winner
0  9331181   6      11283     ...  157.178571             1          Hl Ph
1  8797060   35     20        ...  103.500000             0          Wt Is
2  9433269   135    10576     ...  154.333333             0          Ne
3  9587073   39     36084     ...  144.250000             0          Ga An Ws
4  9516457   96     30407     ...  189.000000             1          Gt Ts

[5 rows x 25 columns]

In [31]:
df_train['winner'] = le.fit_transform(df_train.winner.values)

In [42]:
df_train['toss_winner'] = le.fit_transform(df_train.toss_winner.values)
df_test['toss_winner'] = le.fit_transform(df_test.toss_winner.values)

In [43]:
df_train.head()

   match id  team1  team1_id  ... ground_avg_runs_last15  winner_01  toss_winner
0  9331181   6      11283     ...  157.178571             1          44
1  8797060   35     20        ...  103.500000             0          138
2  9433269   135    10576     ...  154.333333             0          81
3  9587073   39     36084     ...  144.250000             0          34
4  9516457   96     30407     ...  189.000000             1          40

[5 rows x 25 columns]

In [44]:
df_test['toss_winner'] = df_test['toss winner']

In [48]:
df_train['toss_decision'] = df_train['toss decision']
df_test['toss_decision'] = df_test['toss decision']

df_train['toss_decision'] = le.fit_transform(df_train.toss_decision.values)
df_test['toss_decision'] = le.fit_transform(df_test.toss_decision.values)

In [49]:
df_train.head()

   match id  team1  team1_id  ... winner_01  toss_winner  toss_decision
0  9331181   6      11283     ...  1         44           1
1  8797060   35     20        ...  0         138          1
2  9433269   135    10576     ...  0         81           1
3  9587073   39     36084     ...  0         34           0
4  9516457   96     30407     ...  1         40           1

[5 rows x 26 columns]

In [60]:
features = df_train[['team1', 'team2', 'toss_winner','toss_decision','ground_id', 'team_count_50runs_last15',
                       'team_winp_last5', 'team1only_avg_runs_last15', 'ground_avg_runs_last15']]
target = df_train['winner_01']

In [61]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   team1                      948 non-null    int64
 1   team2                      948 non-null    int64
 2   toss_winner                948 non-null    int64
 3   toss_decision              948 non-null    int64
 4   ground_id                  948 non-null    int64
 5   team_count_50runs_last15   948 non-null    float64
 6   team_winp_last5            948 non-null    float64
 7   team1only_avg_runs_last15  927 non-null    float64
 8   ground_avg_runs_last15     895 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 66.8 KB

In [50]:
# Selecting features and target for the model
# features = df_train[['team1', 'team1_id', 'team1_roster_ids', 'team2', 'team2_id', 'team2_roster_ids', 'toss winner', 'toss decision', 'venue', 'team_count_50runs_last15',
#                       'team_winp_last5', 'team1only_avg_runs_last15', 'ground_avg_runs_last15']]
# target = train_data['winner_01']

# # Convert categorical variables to dummy variables
# #features_encoded = pd.get_dummies(features)

# features_test = test_data[['team1', 'team1_id', 'team1_roster_ids', 'team2', 'team2_id', 'team2_roster_ids', 'toss winner', 'toss decision', 'venue', 'team_count_50runs_last15',
#                       'team_winp_last5', 'team1only_avg_runs_last15', 'ground_avg_runs_last15']]
# #target_test = test_data['winner_01']

# # Convert categorical variables to dummy variables
# features_encoded_test = pd.get_dummies(features_test)

In [62]:
# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.2, random_state=42)

In [63]:
# Initialize and train the XGBoost model
model = xgb.XGBClassifier(objective='multi:softmax', num_class=2)
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None, num_class=2,
              num_parallel_tree=None, ...)

In [64]:
predictions = model.predict(X_test)

In [65]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.5105263157894737

In [67]:
#predictions_test_ = model.predict(embeddings_test)